li a{
    padding: 1rem;
}
.hero{
    background-image: url("../images/skyline.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    height: 30rem;
    max-width: 100%;
    color: #fff;
}
header{
    width: 100%;
    height: auto;
}
.slogan{
    padding-top: 7rem;
}
.blog{
    margin-right: 3rem;
}
.blog-title{
    margin-top: 0;
}
.blog-image{
 margin: auto;
 display: block;
 height: 200px;
 width: 200px;
}
figure{
    margin-left: 0;
    margin-right: 0;
}