.hero{
    background-image: url("../images/skyline.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    height: 30rem;
    max-width: 100%;
    color: #fff;
}
header{
    width: 100%;
    height: auto;
    background-color: rgba(224, 255, 255, 0.7);
}
.slogan{
    padding-top: 7rem;
}
.blog{
    margin-right: 3rem;
}
.blog-title{
    margin-top: 0;
}
.blog-image{
 margin: auto;
 display: block;
 height: auto;
 width: 10rem;
}
figure{
    margin-left: 0;
    margin-right: 0;
    transition: box-shadow 2s;
}
.message{
    margin-top: 1em;
}
.map{
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    height: 100%;
}
iframe{
    height: 100%;
    width: 100%;
    border: 0;

}
figure img{
    transition: box-shadow 2s;
}
figure img:hover{
    box-shadow: 1rem 1rem 0.5rem black;
}